* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background: #ffffff;
	color: #040303;
	height: 100vh;
	display: flex;
}

#submit_button {
	padding: 5px 15px 5px 15px;
	margin: 10px;
	font-size: 12px;
	border-radius: 18px;
	background-color: #3554C6;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	
}

.class {

}

#plan-img {
	height: 80%;
	width: 80%;
}


